%h1 Nuevo código
=# render 'form'
= form_for :image_form, :url => { :controller => "codigos", :action => :create }, :html => { :method => :post, :id => 'uploadForm', :multipart => true } do |f|
  %p
    = label_tag :tipo, "Tipo de recurso"
    = select_tag :tipo,  options_for_select(Codigo::TIPOS)
  %p.recurso
    = label_tag :recurso
    = f.file_field :upload_data
  %p
    = label_tag :asignatura
    = text_field_tag :asignatura, nil, :class => 'typeahead', :placeholder => I18n.t('codigos.form.asign_ph')
    = hidden_field_tag :idasignatura
  .field.info
    = f.label :informacion, "Información"
    = f.text_area :informacion, :style => 'width:500px;height:100px;'

  %p
    = submit_tag 'Guardar', :class => 'btn btn-success btn-large'


= link_to 'Atrás', codigos_path, :class => 'btn btn-link'


:javascript
  //var autocomplete_items = #{ @asignaturas.to_json };
  var data = #{asignaturas_categorias(@asignaturas)};
  $('#asignatura').catcomplete({
    delay: 0,
    source: data,
    select: function(event, ui){
      $("#idasignatura").val(ui.item.id);
    }
    });

  $("#tipo").change(function(){tipo_state();});

  var tipo_state = function(){
    if ($("#tipo").val() == 'informacion')  {
      $(".info").show();
      $(".recurso").hide();
    }
    else{
      $(".info").hide();
      $(".recurso").show();
    }
  }

  $(function(){
    tipo_state();
  });