= form_for @asignatura, :class => "form-horizontal" do |f|
  - if @asignatura.errors.any?
    #error_explanation
      %h2= "#{pluralize(@asignatura.errors.count, "error")} prohibited this asignatura from being saved:"
      %ul
        - @asignatura.errors.full_messages.each do |msg|
          %li= msg

  .control-group
    .field
      = f.label :curso
      = f.select :curso, options_for_select(1..5, @asignatura.curso)
    .field
      = f.label :nombre
      = f.text_field :nombre
    .field
      = f.label :code, "Código"
      = f.text_field :code
    .field
      = f.label :titulo, "Título"
      = f.select :titulo, options_for_select(titulos_form, @asignatura.titulo)
    .field
      = f.label :descripcion, "Descripción"
      = f.text_area :descripcion, :style => 'width:500px;height:100px;'
    .actions
      = f.submit 'Guardar', :class => 'btn btn-success btn-large'
