%h1 Listado de Asignaturas

%table.table.table-striped.table-bordered
  %tr
    %th Nombre
    %th Titulo
    %th Curso
    %th

  - @asignaturas.each do |asignatura|
    %tr
      %td
        %strong= asignatura.nombre
        = "(#{asignatura.code})" if asignatura.code.present?
      %td= t("asignaturas.#{asignatura.titulo}")
      %td= asignatura.curso
      %td
        = link_to 'Ver', asignatura, :class => 'btn btn-info'
        = link_to 'Editar', edit_asignatura_path(asignatura), :class => 'btn btn-inverse'
        = link_to 'Eliminar', asignatura, :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => 'btn btn-danger'

%br

= link_to 'Nueva Asignatura', new_asignatura_path, :class => 'btn btn-large'
