%h2
  = @asignatura.nombre
%p
  %b Código:
  = @asignatura.code
%p
  %b Titulo:
  = I18n.t("asignaturas.#{@asignatura.titulo}")
%p
  %b Curso:
  = @asignatura.curso
%p
  %b Descripción:
  = @asignatura.descripcion

= link_to 'Editar', edit_asignatura_path(@asignatura), :class => 'btn btn-inverse'
\|
= link_to 'Atrás', asignaturas_path, :class => 'btn btn-link'
